@import url(https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap);

html {
    background-color: #ADC16A;
    font-family: 'Roboto';
}

#root {
    background-color: #ADC16A;
} */

 .letscalc {
    
    background-color: #ADC16A;
    
}
.letscalc img{
    margin-left: 300px;
    margin-top: 30px;
    z-index: 4;
    width: 500px;
}

.result {
    background-color:white;
}


.result p {
    padding-top: 170px;
    padding-right: 20px;
    font-size: 30px;
    text-align: right;
    color: white;
}

button {
    width: 71px;
    height: 74px;
    color: white;
    background-color: #2D6A4F;
    margin-left: 2px;
    margin-top: 2px;
}

.phone img{
    z-index: 2;
    margin-left: -880px;
    margin-top: 30px;
    height: 810px;
}

.calcbutton {
    z-index: 3;
    margin-left: -850px;
    margin-top: 250px;
    
}

.phone, .calcbutton{
    position: absolute;
    
}

.operator {
    background-color: #2D6A4F;
    font-size: 25px;
    font-weight: bold;
    border-color: #1B4332;

}

.number {
    color: #2D6A4F;
    background-color: #74C69D;
    font-size: 25px;
    font-weight: bold;
    border-color: #1B4332;
}

hr {
    width: 0px;
    color: white;
}

.calcbutton p{
    font-size: 40px;
    /* background-color: white; */
    position: absolute;
    top: -230px;
    left: 10px;
    z-index: 5;
    height: 40px;
   
  
  }

.calcbutton h1 {
    font-size: 20px;
    color: rgb(182, 179, 179);
    position: absolute;
    top: -80px;
    left: 10px;
    width: 280px;
    z-index: 6;
  }