@import url(https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap);

html {
    background-color: #2D6A4F;
    font-family: 'Roboto';
}

#root {
    background-color: #2D6A4F;
} */

 .letscalc {
    
    background-color: #2D6A4F;
    
}
.letscalc img{
    margin-left: 500px;
    padding-left: 100px;
    margin-top: 80px;
    z-index: 4;
    width: 600px;
}

.tombols {
    margin-left: -9px;
    margin-top: -48px;
}

.result {
    background-color:white;
}


.result p {
    padding-top: 170px;
    padding-right: 20px;
    font-size: 30px;
    text-align: right;
    color: white;
}

button {
    width: 51.33px;
    height: 53.46px;
    color: white;
    background-color: #2D6A4F;
    margin-left: 2px;
    margin-top: 2px;
}

.phone img{
    z-index: 2;
    margin-left: -880px;
    margin-top: 30px;
    height: 585.25px;
}

.calcbutton {
    z-index: 3;
    margin-left: -850px;
    margin-top: 250px;
    
}

.phone, .calcbutton{
    position: absolute;
    
}

.operator {
    background-color: #2D6A4F;
    font-size: 19.125px;
    font-weight: bold;
    border-color: #1B4332;

}

.operator img {
    width: 20px;
}

.number {
    color: #2D6A4F;
    background-color: #74C69D;
    font-size: 19.125px;
    font-weight: bold;
    border-color: #1B4332;
}

hr {
    width: 0px;
    color: white;
}

.calcbutton p{
    font-size: 27px;
    /* background-color: white; */
    position: absolute;
    top: -255px;
    left: 0px;
    z-index: 5;
    height: 40px;
   
  
  }

.calcbutton h1 {
    font-size: 16.2px;
    color: rgb(182, 179, 179);
    position: absolute;
    top: -102px;
    left: 0px;
    width: 280px;
    z-index: 6;
  }

.mockup {
    margin-top: 45px;
    margin-left: 20px;
    margin-right: 50px;

}