@import url(https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap);

* {
    background-color: #1B4332;
    font-family: 'Roboto';
}

.mipan {
    background-color: #1B4332;
}
.App-calc img{
    margin-left: 0px;
    margin-top: 152px;
}

.result {
    background-color:white;
}


.result p {
    padding-top: 170px;
    padding-right: 20px;
    font-size: 30px;
    text-align: right;
    color: white;
    background-color: #1B4332;
}

button {
    width: 71px;
    height: 74px;
    color: white;
    background-color: #2D6A4F;
    margin-left: 2px;
    margin-top: 2px;
}

.phone {z-index: 2;}

.calcbutton {
    z-index: 3;
    margin-left: -182px;
    margin-top: 60px;
    
}

.phone, .calcbutton{
    position: absolute;
}

.operator {
    background-color: #2D6A4F;
    font-size: 25px;
    font-weight: bold;
    border-color: #1B4332;

}

.number {
    color: #2D6A4F;
    background-color: #74C69D;
    font-size: 25px;
    font-weight: bold;
    border-color: #1B4332;
}

hr {
    width: 0px;
    color: white;
}

.calcbutton p {
    font-size: 20px;
    /* background-color: white; */
    position: absolute;
    bottom: 350px;
    left: 300px;
   
  
  }

.calcbutton h1 {
    font-size: 20px;
    color: rgb(124, 119, 119);
    position: absolute;
    top: 190px;
    left: 100px;
    width: 400px;
  }